/* Estilos para el contenedor de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Estilos para los elementos individuales de los productos */
  .productos > div {
    margin: 20px; /* Agrega espacio entre los elementos */
    padding: 20px; /* Agrega relleno para separar el contenido */
    
    border-radius: 30px;
    width: 200px; /* Establece un ancho fijo para los elementos */
  }
  .productos > div:hover {

    opacity: 0.2; 
    cursor: pointer; 
  }
h1.titulo{
  font-family: 'Arial Black', sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: #141414dc;
  background-color: #e6e6e6;
  border: 2px solid #e6e6e6;
  text-align: center;
  margin: 20px 0; /* Espacio arriba y abajo */
  padding: 10px; /* Espacio interno */
}
h1.subtitulo{
  font-family: 'Arial Black', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #141414dc;
  
  text-align: center;
  margin: 20px 0; /* Espacio arriba y abajo */
  padding: 10px; /* Espacio interno */
}



  .product {
    background-color: #f3f3f3;
  }
  .addProduct {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    
    border: 2px solid #b0b0b0;
}

.addProduct .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addProduct label {
    margin-bottom: 5px;
    font-weight: bold;
}

.addProduct input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addProduct button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.addProduct button:hover {
    background-color: #45a049;
}
.addProduct .etiqueta {
  display: block; 
  padding: 8px;  
  margin: 0;     
  border-radius: 4px;
  text-align: center;
  background-color: #615a5a44;
  color: black;
  font-size: 16px;
}
